:root {
    --dark: black;
    --grey: #c1c1c1;
    --white: #ffffff;
    --blue1: #1e7c98;
    --blue2: #5ba0b5;
    --blue3: #0e3c4a;
    --red1: #662525;
    --red2: #8a5858;
    --red3: #540f0f;
    --redpale: #ffcccc;
    --fs-small: 1.0rem;
    --fs-normal: 1.3rem;
    --fs-medium: 1.8rem;
    --fs-big: 2.4rem;
    font-size: 10px;
    touch-action: manipulation;
}

body {
    color: var(--dark);
    font-size: var(--fs-normal);
    font-family: sans-serif;
    margin: 0;
    padding:
        env(safe-area-inset-top, 0)
        env(safe-area-inset-right, 0)
        env(safe-area-inset-bottom, 0)
        env(safe-area-inset-left, 0);
}

h1 {
    font-size: var(--fs-big);
    margin: 0;
}

p {
    margin: 0;
}

input,
select,
button,
textarea {
    -webkit-appearance: none;
    background-color: var(--white);
    border: 1px solid var(--dark);
    border-radius: 0.5rem;
    color: var(--dark);
    font-size: var(--fs-medium);
    margin: 0;
    outline: none;
    padding: 0.5rem;
}

button {
    font-size: var(--fs-normal);
}

@media screen and (min-width: 768px) {
    input,
    select {
        font-size: var(--fs-normal);
    }

    textarea {
        font-size: var(--fs-small);
    }
}

textarea::placeholder {
    color: var(--grey);
    font-family: sans-serif;
}

input {
    box-sizing: border-box;
    width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.error {
    background-color: var(--redpale);
}

select,
button {
    cursor: pointer;
}

.button-primary {
    --normal: var(--blue1);
    --hover: var(--blue2);
    --active: var(--blue3);
}

.button-negative {
    --normal: var(--red1);
    --hover: var(--red2);
    --active: var(--red3);
}

.button {
    background-color: var(--normal);
    border-color: transparent;
    color: var(--white);
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
    background-color: var(--hover);
}

.button:active:not(:disabled) {
    background-color: var(--active);
}

.button-alt {
    border-color: var(--normal);
    color: var(--normal);
}

.button-alt:hover:not(:disabled),
.button-alt:focus:not(:disabled) {
    color: var(--hover);
}

.button-alt:active:not(:disabled) {
    color: var(--active);
}

.button:disabled,
.button-alt:disabled {
    border-color: transparent;
    background-color: var(--grey);
    color: var(--white);
}

label {
    color: var(--dark);
    font-size: var(--fs-small);
}

.bare-button {
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
}

.small-heavy {
    text-transform: uppercase;
    font-size: var(--fs-small);
    font-weight: bold;
}

.small-heavy:hover,
.small-heavy:focus {
    text-decoration: underline;
}

.value-selector:focus-within .value-selector:not(:focus-within) {
    --dark: rgba(0, 0, 0, 0.4);
}

.form-control {
    display: inline-flex;
    flex-direction: column;
}

.value-controls,
.button-group {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.value-controls .form-control,
.button-group button {
    margin: 0 0.5rem 0.5rem 0;
}